/PCB/TVP5147M1_decoder/TVP5147M1_decoder-backups/
*.bak
/FPGA/core/db/
/FPGA/core/incremental_db/
*.zip

/FPGA/core/output_files/
*.mp4
*wlf*
*.bin
*cache

# EXCEPTIONS for LFS-tracked MP4s
!notebooks/mp4_to_bt656/aperol.mp4
!notebooks/mp4_to_bt656/church.mp4